<div class="centeredHeader">
  <h2>GPA Calculator</h2>
  <div class="centeredButton">
    <button mat-button type="button">Calculate Grade</button>
    <button mat-button type="button" (click)="addClass()">Add Class</button>
  </div>
</div>

<form [formGroup]="calcForm">
  <table mat-table [dataSource]="dataSource" formArrayName="classes">
    <!-- Credit Hours Column -->
    <ng-container matColumnDef="creditHours">
      <th mat-header-cell *matHeaderCellDef>Credit Hours</th>
      <td
        mat-cell
        *matCellDef="let element; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field>
          <mat-label>Hours</mat-label>
          <input matInput formControlName="hours" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Letter Grade Column -->
    <ng-container matColumnDef="letterGrade">
      <th mat-header-cell *matHeaderCellDef>Grade</th>
      <td
        mat-cell
        *matCellDef="let element; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field>
          <mat-select formControlName="grade">
            <mat-option value="">-Select-</mat-option>
            <mat-option *ngFor="let point of points" [value]="point.value">
              {{ point.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>Remove</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</form>
